<!-- Wrap all page content here -->
<div id="wrap">
<!-- Begin page content -->
<div class="divider" id="section1"></div>

<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-header text-center">
      <h1>Since 2013</h1>
    </div>

    <p class="lead text-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <hr>

    <div class="divider"></div>

  </div>
</div>

<div class="divider"></div>

<section class="bg-1">
  <div class="col-sm-6 col-sm-offset-3 text-center"></div>
</section>

<div class="divider" id="section2"></div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1>Profile</h1>

    <hr>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
      Aliquam in felis sit amet augue.
    </p>

    <hr>

    <div class="divider"></div>

  </div><!--/col-->
</div><!--/container-->

<div class="divider"></div>

<section class="bg-3">
  <div class="col-sm-6 col-sm-offset-3 text-center"><h2>Clients &amp; Partners</h2></div>
</section>

<div class="divider" id="section3"></div>

<div class="bg-4">
  <div class="container">
    <div class="row" id="photos-list">
      <%= render @photos %>
    </div><!--/row-->
  </div><!--/container-->
</div>

<div class="divider" id="section4"></div>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
  </div>
</div>

<div class="row">

  <div class="col-sm-10 col-sm-offset-1">
    <h1>Location</h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
    Aliquam in felis sit amet augue.
    <br>
    <br>
    <!-- Map -->
    <section id="contact" class="map">
      <hr>
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
      <br />
      <small>
        <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
      </small>
      </iframe>
    </section>
  </div>
</div><!--/row-->

<div class="divider" id="section5"></div>

<div class="row">
  <hr>
  <!-- Contact me box-->
  <div class="col-sm-9 col-sm-offset-1">
    <div class="row form-group">
      <div class="col-md-12">
        <h1>Contact Us</h1>
      </div>
      <div class="col-xs-4">
        <input class="form-control" id="firstName" name="name" placeholder="Your Name" type="text">
      </div>
      <div class="col-xs-6">
        <input class="form-control" id="organization" name="organization" placeholder="Company or Organization" type="text">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-5">
        <input class="form-control" name="email" placeholder="Email" type="text">
      </div>
      <div class="col-xs-5">
        <input class="form-control" name="phone" placeholder="Phone" type="text">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-10">
        <textarea class="form-control" placeholder="Comments"></textarea>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-10">
        <button class="btn btn-default pull-right">Contact Us</button>
      </div>
    </div>
  </div>
</div><!--/row-->
</div><!--/wrap-->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center text-muted">
        <h4><strong>Start Tripper</strong>
        </h4>
        <p class="text-muted">1075 Space Park Way<br>Mountain View, CA 94043</p>
        <ul class="list-unstyled">
          <li><i></i> (123) 456-7890</li>
          <li><i></i>  <a href="bucket@example.com">bucket@example.com</a>
          </li>
        </ul>
        <ul class="list-inline center-block">
          <li><a href="http://facebook.com"><img src="/assets/social_icon/soc_fb.png"></a></li>
          <li><a href="http://twitter.com"><img src="/assets/social_icon/soc_tw.png"></a></li>
          <li><a href="http://google.com"><img src="/assets/social_icon/soc_gplus.png"></a></li>
          <li><a href="http://pinterest.com"><img src="/assets/social_icon/soc_pin.png"></a></li>
        </ul>
        <br>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Bucket 2015</p>
      </div>
    </div>
  </div>
</footer>
<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="glyphicon"></i></a></li>
</ul>


